<a href="https://colab.research.google.com/github/suvogit2023/Python_DS_Practice/blob/main/List_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Code inspired by "Practical Data Science with Jupyter" by Prateek Gupta.
# For educational showcase purposes only, with no commercial intent.

Creating an empty List in *Python*

In [1]:
height=[]
type(height)

list

A list containing heights

In [2]:
height_list=[1.76,1.74,1.79]
print(height_list)

[1.76, 1.74, 1.79]

In [3]:
#List containing different str and float
name_height_list=["Tom",1.76,"Harry",[1,2,3]]

#Different list manipulation Operations

In [4]:
lang=['python','c','java']
print(lang[0]+' is very is easy')
print(lang[1]+' is very is hard')
print(lang[2]+' is very is something I have already learnt')

python is very is easy
c is very is hard
java is very is something I have already learnt

In [5]:
#list is mutable and we can actually chnage the value into it.
print('Old List: ',lang)
lang[2]="Cobra"
lang[1]="King Cobra"
print('New List: ',lang)

Old List:  ['python', 'c', 'java']
New List:  ['python', 'King Cobra', 'Cobra']

In [6]:
#Using for loop
for snakes in lang:
  print("Snakes are :", snakes)

Snakes are : python
Snakes are : King Cobra
Snakes are : Cobra

In [7]:
#lets check how many elements
print(len(lang))
#Now I wanted to append

3

In [8]:
lang.append("viper")
print('new list: ',lang)

new list:  ['python', 'King Cobra', 'Cobra', 'viper']

Deletion

In [12]:
# Removing some element from lang list
lang.remove('python')
print('updated list: ',lang)

updated list:  ['King Cobra', 'Cobra', 'viper']

In [13]:
print('updated list: ',lang) # Removing by position , starts with 0
lang.pop(2)
print('updated list: ',lang)

updated list:  ['King Cobra', 'Cobra', 'viper']
updated list:  ['King Cobra', 'Cobra']

##Difference between del(), remove(), pop()

In [14]:
number_list=[1,2,3,4,1]
number_list.remove(4) #Element 4 removal
print('updated list: ',number_list)
number_list=[1,2,3,4,1]
number_list.pop(4) #Removal by Index
print('updated list: ',number_list)
number_list=[1,2,3,4,1]
del(number_list[4]) #Removal by Index
print('updated list: ',number_list)

updated list:  [1, 2, 3, 1]
updated list:  [1, 2, 3, 4]
updated list:  [1, 2, 3, 4]

##Tupples

In [17]:
tupple_example=('MSc','MS','BSc','BS')
print(tupple_example)
print(type(tupple_example))

('MSc', 'MS', 'BSc', 'BS')
<class 'tuple'>

##Creating Dictionary and some operations onto it

In [24]:
dict_example = {
    'Degree':'Master of Science (MS)',
    'Subject': 'Data Science',
    'Credit': '124'
}
print(dict_example)

{'Degree': 'Master of Science (MS)', 'Subject': 'Data Science', 'Credit': '124'}

In [27]:
#access the values
Degree_name_by_key=dict_example['Degree']
Degree_name_by_method=dict_example.get('Degree')
print(Degree_name_by_key)
print(Degree_name_by_method)

# Modify the values
dict_example['Degree']='Master of Science (MSc)'
dict_example['Credit']='80'

print('updated dictionary:',dict_example)

#printing all keys
for degree_details in dict_example:
  print('keys in dict',degree_details)

#printing all values
for degree_details in dict_example.values():
  print('Values in dict',degree_details)

Master of Science (MSc)
Master of Science (MSc)
updated dictionary: {'Degree': 'Master of Science (MSc)', 'Subject': 'Data Science', 'Credit': '80'}
keys in dict Degree
keys in dict Subject
keys in dict Credit
Values in dict Master of Science (MSc)
Values in dict Data Science
Values in dict 80